

.feature-movie__rating {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 12px;
}

.feature-movie__rating b {
  font-size: 1.25rem;
  font-weight: 600;
}

.feature-movie__rating img {
  width: 49px;
  height: 26px;
}

.feature-movie span {
  font-size: 1.25rem;
  font-weight: 400;
}

.feature-movie h1 {
  font-size: 3rem;
  margin: 20px 0;
}

.feature-movie p {
  font-size: 1.25rem;
  line-height: 160%;
  max-width: 540px;
  margin-bottom: 30px;
}

.feature-movie button {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 31px;
  width: 250px;
  height: 70px;
  
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 120%;

  background: linear-gradient(154deg, #0f3a7b -58.45%, #0cffff 374.49%);
  box-shadow: (0px 3px 50px rgba(0, 0, 0, 0.16));
  border-radius: 50px;
  transition: .6s;
}

.feature-movie button:hover{
    filter: brightness(.85);
}
